@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@600&family=Quicksand:wght@400;500&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}
  
.container > img {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.header {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.box-1 {
    width: 100%;
    padding: 50px;
    margin: 60px;
    margin-left: 50px;
    text-align: center;
    border-radius: 50px;
    opacity: 0.8;
}

.box-2 {
    width: 100%;
    padding: 50px;
    margin-bottom: 50%;
}

::placeholder { 
    color: black;
}

.username-content {
   border: none;
    text-align: center;
    border-radius: 100px;
    width: 350px;
    height: 40px;
    background-color: pink;
}

.password-content {
    border: none;
    text-align: center;
    border-radius: 100px;
    width: 350px;
    height: 40px;
    background-color: pink;
}

button {
    border: none;
    text-align: center;
    border-radius: 100px;
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-color: pink;
}

h1 {
    font-family:'QuickSand', sans-serif;
    color: black;
    
}

.forgot-your-pass > a {
    color: floralwhite;
}

.apply {
    color: black;
    font-size: 20px;
}

.fab {
    font-size: 50px;
    color: palevioletred;
    margin-right: 5px;
}